@tailwind base;
@tailwind components;
@tailwind utilities;

.css-dip3t8 {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  background-color: inherit !important;
}

.css-1wvake5 {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
}

.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: initial !important;
}

input:-webkit-autofill {
  background-color: white !important;
  color: white !important;
  -webkit-text-fill-color: white !important; /* Ensures autofilled text color */
  box-shadow: 0 0 0px 1000px rgba(49, 89, 81, 1) inset !important; /* Applies consistent background */
}

input:-webkit-autofill::first-line {
  color: white !important;
}

.ps-menuitem-root.ps-active {
  background-color: rgba(239, 155, 40, 0.3); /* Active background */
  color: rgba(239, 155, 40, 1); /* Active text color */
}
